<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: header"></nav>
<section>
    <input type="search" name="keyword" placeholder="Search" />
    <button data-search="next">&darr;</button>
    <button data-search="prev">&uarr;</button>
    <button data-search="clear">✖</button>
    <div style="font-weight:bold; font-size: 20px" th:text="${mail.emailSender}"></div>
    <div>to lam848520</div>
    <br>
    <br>
    <div style="font-size: 18px" class="content" th:text="${mail.content}"></div>
</section>

<!--<form action="#" th:action="@{/employee/save}" th:object="${mail}"-->
<!--      method="POST" novalidate="novalidate">-->
<!--    <input type="hidden" th:field="*{id}" />-->
<!--    <div class="form-group">-->
<!--        <label>Name</label>-->
<!--        <input type="text" class="form-control"-->
<!--               th:field="*{title}" />-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Phone</label>-->
<!--        <input type="text" class="form-control" th:field="*{emailSender}" />-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">Save</button>-->
<!--</form>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.es6.js"></script>
<script type="text/javascript" th:src="@{/js/searchh.js}"></script>
</body>
</html>