<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: header"></nav>
<section>
    <div class="container main-content form">
        <div class="row">
            <form action="#" th:action="@{/toEmail/save}" th:object="${mail}"
                  method="POST" novalidate="novalidate">
                <div class="form-group">
                    <label>To Email</label>
                    <input type="text" class="form-control"
                           th:field="*{toEmail}" />
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" th:field="*{title}" />
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea th:height="200px" class="form-control" th:field="*{content}" />
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</section>

</body>
</html>