<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: header"></nav>
<section>
    <div class="container main-content form">
        <div class="row">
            <div>
                <div class="form-group">
                    <label>To Email</label>
                    <input id="toEmail" type="text" class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" id="title" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea id="texteditor" class="tinymce" ></textarea>
                </div>
                <div style="margin-top: 10px; padding: 10px;" class="dropzone" name="uploadfile" id="attachment-dropzone-tab"></div>
                <button class="btn btn-default" id="submitButton" >Send</button>

            </div>
            <div style="border:1px solid #ccc;padding: 5px;">
                <span id="error"></span>
            </div>
        </div>
    </div>
</section>

<nav th:replace="layout :: footer"></nav>
</body>
</html>